<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#f5f5f5" />
        <link rel="icon" href="./favicon.ico" />
        <meta name="description" content="A free API where you can find various products from different categories and different price range." />
        <meta name="robots" content="index, follow" />
        <meta name="keyword" content="free, products, api, online, node, express" />
        <link rel="apple-touch-icon" href="./apple-touch-icon.png" />
        <link rel="manifest" href="./site.webmanifest" />
        <link rel="stylesheet" href="./styles.css" />
        <title>Products API</title>
    </head>
    <body>
        <main class="root">
            <header>
                <h1>Products API</h1>
                <h2>A free API where you can get various products from different categories and different price range</h2>
            </header>
            <section class="contents section">
                <h2>Contents</h2>
                <ul>
                    <li><a href="#tech-stack">Tech Stack</a></li>
                    <li><a href="#how-to-use">How to use</a></li>
                    <li><a href="#endpoints">Endpoints</a></li>
                    <li><a href="#valid-query-parameters">Valid query parameters</a></li>
                    <li><a href="#examples">Examples</a></li>
                    <li><a href="#typescript-utility">Typescript utility</a></li>
                </ul>
            </section>
            <section class="tech_stack section" id="tech-stack">
                <h2>Tech Stack</h2>
                <div class="tech_images">
                    <img src="https://skillicons.dev/icons?i=ts&theme=dark" alt="typescript" title="Typescript" />
                    <img src="https://skillicons.dev/icons?i=nodejs&theme=dark" alt="node" title="Node JS" />
                    <img src="https://skillicons.dev/icons?i=express&theme=dark" alt="express" title="Express JS" />
                </div>
            </section>
            <section class="how_to_use section" id="how-to-use">
                <h2>How to use</h2>
                <p class="url">Root URL : <a href="/">https://products.cyclic.app/</a></p>
                <div class="response_object">
                    <h3>Response object</h3>
                    <p>A variable named <strong>success</strong> denoting the success or failure (boolean value, true or false)</p>
                    <p>A variable named <strong>message</strong> with an appropriate message (string value)</p>
                </div>
            </section>
            <section class="endpoints section" id="endpoints">
                <h2>Endpoints</h2>
                <div class="table_container">
                    <table class="endpoints_table">
                        <thead>
                            <tr>
                                <th>Endpoints</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>/api/v1/product/{id}</strong></td>
                                <td>
                                    <b>Responds with a product to the corresponding id</b><br />
                                    <em>(throws 404 error if the url is invalid or the product is not found)</em>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>/api/v1/product/all</strong></td>
                                <td>
                                    <b>Responds with an array of all the products available in the database</b><br /><em>
                                        (throws 404 error if the url is invalid or there are no products in the database)
                                    </em>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="queries section" id="valid-query-parameters">
                <h2>Valid query parameters</h2>
                <div class="table_container">
                    <table class="queries_table">
                        <thead>
                            <tr>
                                <th>Query</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>type</strong></td>
                                <td>
                                    <b><em>responds with the corresponding type of products</em></b>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>lte</strong></td>
                                <td>
                                    <b><em>Products with price lesser and equal to the specified value</em></b>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>gte</strong></td>
                                <td>
                                    <b><em>Products with price greater and equal to the specified value</em></b>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>page</strong></td>
                                <td>
                                    <b><em>Products at specified page number</em></b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="note"><strong>Note - Each page contains 10 products</strong></p>
            </section>
            <section class="examples section" id="examples">
                <h2>Few Examples</h2>
                <div class="table_container">
                    <table class="examples_table">
                        <tbody>
                            <tr>
                                <td>
                                    <p>https://products.cyclic.app/api/v1/product/all?type=keyboard</p>
                                    <p>Returns all the keyboard type products</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>https://products.cyclic.app/api/v1/product/all?gte=1000&amp;lte=25000</p>
                                    <p>Returns all the products with price greater than equal to 1000 and lesser than equal to 25000</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>https://products.cyclic.app/api/v1/product/all?page=2</p>
                                    <p>Returns all the products at page number 2</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>https://products.cyclic.app/api/v1/product/some-random-id</p>
                                    <p>Returns the product with the corresponding id</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="typescript section" id="typescript-utility">
                <h2>Typescript utility</h2>
                <div class="code_block">
                    <pre id="code">
<span class="keyword">export interface</span> <span class="variable_name">IProduct</span> {
    <span class="key">_id</span>: string;
    <span class="key">name</span>: string;
    <span class="key">description</span>: string;
    <span class="key">price</span>: number;
    <span class="key">ratings</span>: number;
    <span class="key">images</span>: {
        <span class="key">pic</span>: string;
        <span class="key">publicUrl</span>: string;
        <span class="key">_id</span>: string;
    }[];
    <span class="key">category</span>: string;
    <span class="key">stock</span>: number;
    <span class="key">numberOfReviews</span>: number;
}
                    </pre>
                    <button type="button" class="copy_button" title="Copy code block">Copy</button>
                </div>
            </section>
        </main>
    </body>
    <script defer>
        const button = document.getElementsByClassName("copy_button")[0];
        const code = document.getElementById("code");
        button.addEventListener("click", function () {
            window.navigator.clipboard.writeText(code.innerText).then(
                () => (button.innerHTML = "Copied"),
                () => window.alert("Unable to copy code block!")
            );
        });
    </script>
</html>
